<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Composition" version="1.0.13-rc" targetFramework="winrt45" />
  <package id="Okra.Core" version="0.9.3-beta" targetFramework="winrt45" />
  <package id="Okra.MEF" version="0.9.3-beta" targetFramework="winrt45" />
  <package id="PropertyChanged.Fody" version="1.26.0.0" targetFramework="winrt45" />
</packages>